.contactContainer {
  background: linear-gradient(180deg, #7d89ff 0%, #ab40ff 66.67%);
}
.contactCon {
  /* padding-top: 5%; */
  padding-bottom: 6%;
}
.contactDiv {
  display: flex;
  margin-top: 3%;
}
.homeText {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  margin-top: 1px;
  margin-right: 3%;
  color: #ffffff;
}
.slash {
  color: #ffffff;
  margin-right: 3%;
}
.contactText {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 21px;
  margin-top: 1px;

  color: #ffffff;
}
.contacth2 {
  font-family: "Mada";
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  padding-left: 0px;

  color: #ffffff;
  margin-top: 4%;
}
.contactPara {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  max-width: 508px;
  color: #f4f4f4;
}
.contactCard {
  position: absolute;
  display: flex;
  top: 360px;
  left: 50px;
}

.contactCards {
  top: 360px;
}
