html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
@font-face {
  font-family: "Mada";
  src: local("Mada Regular 400"),
    url("../public/Font/Mada Regular 400.ttf") format("truetype");
  font-weight: normal;
}

@font-face {
  font-family: "Poppins";
  src: local("Poppins Regular 400"),
    url("../public/Font/Poppins Regular 400.ttf") format("truetype");
  font-weight: normal;
}
.navbar-toggler {
  padding: 0.25rem 0.75rem;
  font-size: 1.25rem;
  line-height: 1;
  border: 1px solid transparent;
  border-radius: 0.25rem;
  transition: box-shadow 0.15s ease-in-out;
  background-color: black !important;
}
.slick-prev:before,
.slick-next:before {
  font-family: "slick";
  opacity: 1 !important;
  font-size: 20px;
  line-height: 1;

  color: black !important;
  color: blue !important;
  /* background-color: blue; */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.middleCat .slick-prev:before {
  content: url("../public/Images/prevArrow.svg") !important;
}
.middleCat .slick-next:before {
  content: url("../public/Images/nextArrow.svg") !important;
}
.middleCat .slick-prev {
  left: -20px !important;
  z-index: 132242424;
}
.middleCat .slick-next {
  right: -10px !important;
  z-index: 132242424;
}
.tshirtArrow .slick-prev:before {
  content: url("../public/Images/prevTshirt.svg") !important;
}
.tshirtArrow .slick-next:before {
  content: url("../public/Images/nextTshirt.svg") !important;
}
.recommendArrow .slick-prev:before {
  content: url("../public/Images/reccomendPrevArrow.svg") !important;
}
.recommendArrow .slick-next:before {
  content: url("../public/Images/reccomendNextArrow.svg") !important;
}
.shopArrow .slick-prev:before {
  content: url("../public/Images/shopArrow.svg") !important;
}
.shopArrow .slick-next:before {
  content: url("../public/Images/shopArrow1.svg") !important;
}
.recommendArrow .slick-prev {
  left: -10px !important;
  z-index: 132242424;
}
.recommendArrow .slick-next {
  right: 14px !important;
  z-index: 132242424;
}

.accordion-button:not(.collapsed) {
  color: black !important;
  background-color: transparent !important;
  box-shadow: none !important;
}
.accordion-button:focus {
  z-index: 3;
  border-color: transparent !important;
  border: none !important;
  outline: none !important;
  box-shadow: none !important;
}
.slick-arrow .slick-prev {
  display: block !important;
  z-index: 143343434 !important;
}
.accordion-item {
  background-color: #fff;
  border: none !important;
}
/* .slick-dots {
  position: absolute;
  bottom: 2px !important;
  display: block;
  width: 100%;
  padding: 0;
  margin: 0;
  list-style: none;
  text-align: center;
} */
.accordion-item:first-of-type .accordion-button {
  border-top-left-radius: calc(0.25rem - 1px);
  border-top-right-radius: calc(0.25rem - 1px);
  padding-left: 0px !important;
}
.accordion-body {
  padding: 0px !important;
}
